.input-container{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width:100%;
    gap:4px;
}

.input-container{
    display:flex;
    align-items: flex-end;  /* vertical */
    justify-content: center; /* horizontal */
    gap:1rem;
}

.input-items > input{
    outline:none;
    background-color: #8de6d7ac;
    background-color: #72efdc97;
    /* background-color: #49f1d3; */
    border:none;
    padding:.9rem 1.5rem;
    border-radius: 10px;
    font-size: 1rem;
}

.input-items > input:hover::placeholder{
    color:black;
    font-size:1.08rem;
}

.input-items{
    display: flex;
    flex-direction: column;
}

.input-items{
    display:flex;
    flex-direction:column; 
    justify-content:center; /* vertical */
    align-items: flex-start; /* horizontal */
    row-gap: 1rem; 
}

.input-items > button{
    padding:.9rem 1.5rem;
    background-color: tomato;
    background-color: #d59bf6; 
    background-color: rgb(188, 135, 248);
    border:none;
    border-radius: 5px;
    color:white;
    font-size: 1rem;
    opacity:1;
    cursor: pointer;
}

.input-items > label{
    font-size: 1.2rem;
    font-weight:600;
}

.input-items > button:hover{
    filter: brightness(110%);
}

/* media queries */

@media screen and (max-width:992px){
    .input-items > input,
    .input-items > button{
        padding:.7rem 1.4rem;
        font-size: .9rem;
    }
    .input-items > label{
        font-size:1.17rem;
        margin-left:.2rem;
    }
}

@media screen and (max-width:768px){
    .input-items > input,
    .input-items > button{
        padding:.7rem 1.4rem;
        font-size: .9rem;
        width:100%;
    }
    .input-items > label{
        font-size:1.15rem;
        margin-left:.2rem;
    }
    .input-items{
        width:85%;
        margin: auto;
    }

    .input-container{
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        /* margin-left:1rem; */
    }
    .input-items > button{
        margin-top:.3rem;
    }
    .input-items > label{
        margin-bottom:-.9rem;
    }
}

@media screen and (max-width:600px) {
    .input-items > label{
        font-size: 1rem;
    }
}