*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    
}

body{
background-image: linear-gradient(to bottom,rgb(214, 179, 255) , rgb(31, 173, 152));
/* background-color: linear-gradient(to bottom,rgb(214, 179, 255) , rgb(31, 173, 152)); */
 /* margin: auto; */
 margin:0;
padding:0;
 box-sizing: border-box;
 /* overflow: hidden; */
 background-repeat: no-repeat;
 height: 100%;
 background-size: 100% 100% !important;
 /* background-color: rgba(128, 128, 202,0.3); */
}
.appWrapper{
    display: flex;
    align-items: end !important;
    justify-content: center;
}
.app{
    background-color: rgba(128, 128, 202,0.3);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* margin:0 20% auto 20%; */
    margin:10% 20% 18.7% 20%;
    padding:4rem 5rem;
    border-radius: 40px;
    /* height: 100vh; */
    /* min-height: 70vh; */

    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

header,footer{
    margin: 5% auto;
}

main{
    flex-grow: 1;
}

