*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body{
 background-image: linear-gradient(to bottom,rgb(214, 179, 255) , rgb(31, 173, 152));
 /* height:100vh; */
 /* overflow: hidden; */
}

.app{
    background-color: rgba(128, 128, 202,0.3);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin:5% 20%;
    border-radius: 40px;
    height: auto;
    min-height: 70vh;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

header,footer{
    margin: 5% auto;
}

main{
    flex-grow: 1;
}

